body{
	background-color: #666666;
}
.bg-custom{
	background: #abc;
}
.margin-auto{
	margin: auto;
	float: 0;
}
.jumbotron{
	border-radius: 0;
	margin: 0;
}
.container{
	min-height: 45vh;
	padding: 15px 5px;
}
.container p,h2,h3,h4,h5,h6{
	color: #333;
}
.img-body{
	width: auto;
	height: 200px;
	margin: auto;
	display: block;
}
.img-body:hover{
	height: 195px;
	width: auto;
	box-shadow: 2px 2px 15px grey;
}
h4{
	padding: 5px 0;
}
.row{
	margin: auto;
}

.btn-map{
	margin-bottom: 15px;
}

#clearOpenDaysBtn{
	margin-top: 10px;
}

/* Sort functions styling */
.brewery-form{
	margin-bottom: 10px;
}

/* Maps styling */
.list-open-hours{
	padding-left: 10px;
}
#map{
	height: 632px;
	width: 100%;
	background-color: grey;
}
#breweryInfo{
	width: 350px;
	height: auto;
}
#breweryInfo h2{
	font-size: 1.75em;
}
#breweryInfo h4{
	font-size: 1.2em;
}